@import '../../library/config/config.scss';

$gitColor: #181717;
$linkedinColor: #0077B5;

footer {
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,0,0,.5);
}

.mainTitle--footer {
    color: $mainColor;
    font-size: 1em;
    margin: 0 .5em 1em;
    display: inline-flex;
    text-align: center;
}

.footer__iconContainer {
    display: inline-flex;
    @include TranslateY(10px);
}

.footer__icon {
    width: 35px;
    height: 35px;
    margin: 0 .5em;
    padding: 1px;

    @include transition(all 0.5s ease);

    &--git{
        fill: $gitColor;
        background: white;
    }
    &--git:hover {
        fill: white;
        background: $gitColor;
        border-radius: 50%;
    }
    &--linkedin {
        fill: $linkedinColor;
        background: white;
    }
    &--linkedin:hover{
        fill: white;
        background: $linkedinColor;
        border-radius: 10%;
    }
}