@import '../../library/config/config.scss';

footer {
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,0,0,.5);
    padding-bottom: 15px;
}

.mainTitle--footer {
    color: $mainColor;
    font-size: 1em;
    margin: 0;
    display: inline-flex;
    text-align: center;
}

.footer__iconContainer {
    display: inline-flex;
    @include TranslateY(10px);
}
