@import '../../library/config/config.scss';

footer {
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,0,0,.5);
    padding-bottom: 15px;
}

.main-title--footer {
    color: $mainColor;
    font-size: 1em;
    margin: 0;
    display: inline-flex;
    text-align: center;
    margin-bottom: 0px !important;
}

.footer__icon-container {
    display: inline-flex;
    @include TranslateY(10px);
}
