:root {
    /* Change this to change the appearance of the hexaons */
    --hex-width: 100px;
    --hex-between: 5px;

    /* Other hexagon dimentions */
    --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
    --hex-margin: calc(var(--hex-width) / 2);
    --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);

    /* Colors */
    --color-hex-default: rgb(119, 119, 119, 0.5);
    --color-angular:     #DD0031;
    --color-circleci:    #343434;
    --color-css:         #1572B6;
    --color-git:         #F14E32;
    --color-gulp:        #DA4648;
    --color-html:        #E34F26;
    --color-javascript:  #F7DF1E;
    --color-sass:        #CC6699;
    --color-vuejs:       #4FC08D;
}

/* Mixins */

@mixin hoverEffect ($t, $r, $s) {
    -webkit-transition: $t;
    -moz-transition: $t;
    transition: $t;

    -webkit-transform: rotate($r) scale($s);
    -moz-transform: rotate($r) scale($s);
    transform: rotate($r) scale($s);
}

/* Hexagon Container */

.hexagon-container {
    display: grid;
    grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width);
    grid-auto-rows: calc(var(--hex-width) - 28.87px/2);
    grid-gap: var(--hex-between) var(--hex-between);
    padding: var(--hex-border);
}

/* Hexagons */

.hexagon {
    align-items: center;
    background-color: var(--color-hex-default);
    cursor: pointer;
    display: flex;
    fill: white;
    height: var(--hex-height);
    justify-content: center;
    margin: var(--hex-border) 0;
    position: relative;
    transition: var(--hex-transition);
    width: var(--hex-width);

}

.hexagon::after,
.hexagon::before {
    border-left: var(--hex-margin) solid transparent;
    border-right: var(--hex-margin) solid transparent;
    content: "";
    left: 0;
    position: absolute;
    transition: var(--hex-transition);
    width: 0;
}
.hexagon::after {
    border-top: var(--hex-border) solid var(--color-hex-default);
    top: 100%;
    width: 0;
}
.hexagon::before {
    border-bottom: var(--hex-border) solid var(--color-hex-default);
    bottom: 100%;
}

/* HEX CONTENT */

.hexagon > svg {
    height: 75%;
}

/* HOVER EFFECT  */

.hexagon:hover {
    > svg {
        @include hoverEffect(0.3s ease, 10deg, 1.3);
    }
}

/* Click Effect */
.teste {
    background-color: white;
}
/* SPACING */

.hexagon:nth-child(6n+4),
.hexagon:nth-child(6n+5),
.hexagon:nth-child(6n+6) {
    margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2)
}
/* End Hexagons */


.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    grid-gap: 0px 2em;
    grid-template-areas: ". .";
}
