
$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

 /* Colors */
$color-html:        #E34F26;
$color-css:         #1572B6;
$color-sass:        #CC6699;
$color-react:       #61DAFB;
$color-angular:     #DD0031;
$color-vue:         #4FC08D;
$color-javascript:  #F7DF1E;
$color-csharp:      #803970;
$color-ts:          #028be8;
$color-ionic:       #509CF6;
$color-node:        #339933;
$color-sqlserver:   #750000;
$color-git:         #F14E32;
$color-docker:      #1488C6;
$color-gulp:        #DA4648;
$color-unity:       #000000;
$color-unreal:      rgba(35, 35, 35, 0.7);

.cardContainer {
    display: flex;
    background-color: rgb(238, 253, 247);
    width: 450px;
    height: 100%;
    padding: 1em 0.5em;
    border-radius: 5px;
    margin: 1em;
}

.imageContainer {
    padding: 15px 15px 10px 15px;
    background-color: white;
    border: silver 2px solid;
}
.iconContainer {
    margin-top: 255px;
    margin-left: 10px;
    width: 100px;
}
h2 {
    font-size: 12px;
}
span {
    border: 1px gray solid;
    border-radius: 100px;
    padding: 0 3px;
    background-color: white;
}
.line {
    display: flex;
    white-space: nowrap;
    margin: 0px;
}
.line:before,
.line:after {
    background: linear-gradient(to bottom, silver , $color_grey_dark) no-repeat center / 98% .2em;
    content: '';
    display: flex;
    width: 50%;
}

.line-top {
    margin-bottom: -9px;
}
.line-bottom {
    margin-top: -9px;
}
/* Color Fill */

.fill-html {
    fill: $color-html;
}

.fill-css {
    fill: $color-css;
}

.fill-sass {
    fill: $color-sass;
}

.fill-react {
    fill: $color-react;
}

.fill-angular {
    fill: $color-angular;
}

.fill-vue {
    fill: $color-vue;
}

.fill-js {
    fill: $color-javascript;
}

.fill-csharp {
    fill: $color-csharp;
}

.fill-ts {
    fill: $color-ts;
}

.fill-ionic {
    fill: $color-ionic;
}

.fill-node {
    fill: $color-node;
}

.fill-sqlserver {
    fill: $color-sqlserver;
}

.fill-git {
    fill: $color-git;
}

.fill-docker {
    fill: $color-docker;
}

.fill-gulp {
    fill: $color-gulp;
}

.fill-unity {
    fill: $color-unity;
}

.fill-unreal {
    fill: $color-unreal;
}
