:root {
    /* Change this to change the appearance of the hexaons */
    --hex-width: 100px; 
    --hex-between: 10px;
    
    /* Other hexagon dimentions */
    --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
    --hex-margin: calc(var(--hex-width) / 2);
    --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
    --hex-transition: all 0.5s ease;
    
    /* Colors
    --color-hex-default: #000000;
    --color-hex-hover:   #FFFFFF;
    --color-angular:     #DD0031;
    --color-atom:        #66595C;
    --color-bootstrap:   #563D7C;
    --color-circleci:    #343434;
    --color-css:         #1572B6;
    --color-git:         #F14E32;
    --color-gulp:        #DA4648;
    --color-haskell:     #5D4F85;
    --color-html:        #E34F26;
    --color-javascript:  #F7DF1E;
    --color-meteor:      #DE4F4F;
    --color-python:      #3776AB;
    --color-rails:       #CC0000;
    --color-sass:        #CC6699;
    --color-vuejs:       #4FC08D;
    --color-webpack:     #8DD6F9;
     */
}

/*
 * Mixins
 */

@mixin transformRotate ($e) {
    -webkit-transform: rotate($e);
	-moz-transform: rotate($e);
	-o-transform: rotate($e);
	-ms-transform: rotate($e);
	transform: rotate($e);
}

@mixin transition ($e) {
    -webkit-transition: $e;
	-moz-transition: $e;
	-o-transition: $e;
	-ms-transition: $e;
	transition: $e;
}

/*
 * Início SCSS Hexagono
 */
.backImageTemp {
    background-image: url(../images/democracy.jpg);
}

.lab_item {
	width: 100px;
	height: 130px;
	position: relative;
	display: inline-block;
}

.hexagon2 {
	position: absolute;
	width: 100px;
	height: 300px;
	top: -85px;
}

.hexagon {
	overflow: hidden;
	visibility: hidden;

    @include transformRotate(120deg);
	cursor: pointer;
}

.hexagon-in1 {
	overflow: hidden;
	width: 100%;
	height: 100%;

    @include transformRotate(-60deg);
}

.hexagon-in2 {
	-webkit-box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
	box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;

	-webkit-background-size: 200%;
	-moz-background-size: 200%;
	background-size: 200%;
    visibility: visible;
    
    @include transformRotate(-60deg);
    @include transition(var(--hex-transition));
	
}

.hexagon-in2:hover {
	-webkit-box-shadow: inset 0 0 0 0px #B0DAD4;
	box-shadow: inset 0 0 0 0px #B0DAD4;
}

/*
 * Fim SCSS Hexagono
 * Início SCSS Grid
 */

.hexContainer {
    width: 550px;
    height: auto;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
    margin-bottom: 2.5em;
    margin-top: 2.5em;
	background: rgb(236, 236, 236);

	-webkit-transition: all ease 500ms;
	-moz-transition: all ease 500ms;
	-o-transition: all ease 500ms;
	-ms-transition: all ease 500ms;
	transition: all ease 500ms;
}

.hexGrid {
    padding-top: 1em;
	width: 820px;
    margin: 0 auto;
    height: auto;
}