:root {
    --bg: #fdfdfd;
    --highlight1: rgb(2, 172, 95);
    --highlight2: #FFF;
}

.skills-container {
    /* Location of the image */
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(45, 76, 102);
    padding-top: 70px;
    box-sizing: border-box;
}

.skills-flex-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

h1 {
	color: #fff;
    font-family: sans-serif;
    border-bottom: 3px solid #16e28a;
    margin: 0 100px;
	font-size: 2em;
	font-weight: 400;
	line-height: 72px;
	letter-spacing: 15px;
    margin-bottom: 30px;
	text-align: center;
	text-indent: 24px;
	text-transform: uppercase;
}

p {
    color: #fff;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 400;
    line-height: 2em;
    max-width: 1280px;
    margin: 0 auto 20px;
    text-align: center;
}

/* Cards */

.ruleCardContainer {
    width: 300px;
    height: 100px;
    padding-top: 5px;
    padding-left: 15px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 5px;
    border-top-left-radius: 50px;
    background-color:rgba(22, 226, 138, 0.2);
}

.rulesContainer {
    position: relative;
    width: 400px;
    height: 375px;
    overflow: hidden;
    background-color: #eee;
    border-radius:5px;
    top: -20px;
    float: left;
    z-index: 2;
    box-shadow: 1px 1px 20px -5px rgba(0,0,0,0.5);
}

.titleCard {
    position: relative;
    float: left;
    width: 100%;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 25px;
}

.rulesContent {
    position: absolute;
    background-color:rgba(22, 226, 138, 0.1);
    padding: 1em;
    height: 100%;
    width: 100%;
    border-radius:5px;
}

.levelsList {
    clear: both;
    list-style: none;
    padding-left: 2%;
}

.levelItem {
    display: block;
    clear: both;
    counter-increment: list;
    font-size: 1em;
    margin-bottom: 1.5em;
    line-height: 1.375;
    position: relative;
}

.levelItem:before {
    font: bold 2.25rem/1 ;
    content: counter(list);
    width: 3rem;
    height: 3rem;
    float: left;
    margin: 0 1.5rem 0.75rem 0;
    color: var(--bg);
    background: var(--highlight1) linear-gradient(to bottom right, var(--highlight1) 25%, var(--highlight2));
    text-shadow: 0 0 2px var(--highlight1);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    shape-outside: ellipse();
    z-index: 1;
}

.levelItem:after {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: var(--highlight1);
    z-index: -1;
    border-top-left-radius: 3px;
}
.oneLine {
    line-height: 2.5;
}

.cardContainer {
    background-color: white;
    width: 450px;
    height: 100%;
    padding: 1em 0.5em;
    border-radius: 5px;
    margin-bottom: 70px;
}
/* End of Cards */

@media only screen and (max-width: 1279px) {
    p {
        margin: 0 100px 10px;
    }
}
