
$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

 /* Colors */
$color-hex-selected:#FFFFFF;
$color-html:        #E34F26;
$color-css:         #1572B6;
$color-sass:        #CC6699;
$color-react:       #61DAFB;
$color-angular:     #DD0031;
$color-vue:         #4FC08D;
$color-javascript:  #F7DF1E;
$color-csharp:      #803970;
$color-ts:          #028be8;
$color-ionic:       #509CF6;
$color-node:        #339933;
$color-sqlserver:   #750000;
$color-git:         #F14E32;
$color-docker:      #1488C6;
$color-gulp:        #DA4648;
$color-unity:       #000000;
$color-unreal:      rgba(35, 35, 35, 0.7);

.cardContainer {
    display: block;
    background-color: rgb(238, 253, 247);
    width: 450px;
    height: 100%;
    padding: 1em 0.5em;
    border-radius: 5px;
    margin-bottom: 70px;
}

.skill-card {
    display: flex;
    width: 400px;
    height: auto;
    margin: 1em auto;
    box-shadow: 0 3px 7px -1px rgba(#000, .1);
    margin-bottom: 1.6%;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    .levelContainer {
        flex-basis: 40%;
        min-width: 100px;
        height: auto;
        position: relative;
        z-index: 0;
        background-color:rgba(22, 226, 138, 0.2);
        span {
            padding-top: 5px;
            text-align: center;
            display: block;
            font-size: 30px;
        }
    }

    .techContainer {
        display: flex;
        max-width: 300px;
        padding: 1em;
        flex-basis: 60%;
        background-color:white;
        position: relative;
        z-index: 1;
        &:before {
            transform: skewX(-10deg);
            content: "";
            width: 30px;
            position: absolute;
            left: -10px;
            top: 0;
            bottom: 0;
            z-index: -1;
            background-color:white;
        }
    }

}

/* Icons */

svg {
    height: 100%;
    width: 70px;
}

/* Color Fill */

.fill-html {
    fill: $color-html;
}

.fill-css {
    fill: $color-css;
}

.fill-sass {
    fill: $color-sass;
}

.fill-react {
    fill: $color-react;
}

.fill-angular {
    fill: $color-angular;
}

.fill-vue {
    fill: $color-vue;
}

.fill-js {
    fill: $color-javascript;
}

.fill-csharp {
    fill: $color-csharp;
}

.fill-ts {
    fill: $color-ts;
}

.fill-ionic {
    fill: $color-ionic;
}

.fill-node {
    fill: $color-node;
}

.fill-sqlserver {
    fill: $color-sqlserver;
}

.fill-git {
    fill: $color-git;
}

.fill-docker {
    fill: $color-docker;
}

.fill-gulp {
    fill: $color-gulp;
}

.fill-unity {
    fill: $color-unity;
}

.fill-unreal {
    fill: $color-unreal;
}
