@import '../../library/config/config.scss';

.languageContainer {
    padding-top: 4em;
    margin-right: 0.5em;
    color: white;
    right: 0;
    font-size: .75em;
    cursor: pointer;
    position: absolute;
    z-index: 999;
}

.languageIcon {
    height: 40px;
    margin: .3em;
    @include transition(transform 0.2s ease);
    &:hover:active {
        transform: scale(1.3);
    }
}

@media (min-width: 769px) {
    .languageContainer {
        padding-top: 6em;
        margin-right: 0.5em;
        color: white;
        right: 0;
        font-size: .75em;
    }

    .languageIcon {
        margin: .5em;
        @include transition(transform 0.2s ease);
        &:hover {
            transform: scale(1.3);
        }
    }
}
