@import '../../library/config/config.scss';
$color-html:        #E34F26;
$color-css:         #1572B6;
$color-sass:        #CC6699;
$color-react:       #61DAFB;
$color-angular:     #DD0031;
$color-vue:         #4FC08D;
$color-javascript:  #FFC107;;
$color-csharp:      #803970;
$color-ts:          #028be8;
$color-ionic:       #509CF6;
$color-node:        #339933;
$color-sqlserver:   #750000;
$color-git:         #F14E32;
$color-docker:      #1488C6;
$color-gulp:        #DA4648;
$color-unity:       #000000;
$color-unreal:      rgba(35, 35, 35, 0.7);

.progressBarMain {
    max-width: 750px;
    background: $lighter;
    box-sizing: border-box;
    box-shadow: 0 3px 10px rgba(0,0,0,.5);
    padding: 1em;
    margin: 1em;
}

.skillLevel__container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: .5em;
}

.skillLevel__titleContainer {
    margin-bottom: .5em;

    > .icon {
        height: 25px;
        width: 25px;
        @include TranslateY(7px);
        margin-right: .5em;
        &--html         { fill: $color-html }
        &--css          { fill: $color-css }
        &--sass         { fill: $color-sass }
        &--react        { fill: $color-react }
        &--angular      { fill: $color-angular }
        &--vue          { fill: $color-vue }
        &--js           { fill: $color-javascript }
        &--csharp       { fill: $color-csharp }
        &--ts           { fill: $color-ts }
        &--ionic        { fill: $color-ionic }
        &--node         { fill: $color-node }
        &--sqlserver    { fill: $color-sqlserver }
        &--git          { fill: $color-git }
        &--docker       { fill: $color-docker }
        &--gulp         { fill: $color-gulp }
        &--unity        { fill: $color-unity }
        &--unreal       { fill: $color-unreal }
    }
}

.skillLevel__title {
    color: $mainColor;
    font-weight: bold;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.progressBarContainer {
    display: flex;
    flex-wrap: wrap;
}

.skillLevel__progressBar {
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid $mainColor;
    height: 15px;
    width: 165px;
    padding-left: .2em;
}

.skillLevel__level {
    width: .65em;
    height: .65em;
    border-radius: 50px;
    display: inline-block;
    margin: 0 .165em;
    @include TranslateY(-.4em);
    &--basic {
        background: $basic;
    }
    &--intermediate {
        background: $intermediate;
    }
    &--advanced {
        background: $advanced;
    }

}

@media (min-width: 769px) {
    .progressBarMain {
        margin: 0 auto;
    }
}
