@import '../../library/config/config.scss';

.skillsMain {
    width: 100%;
    position: relative;
    background: $lighter;
    box-sizing: border-box;
    box-shadow: 0 3px 10px rgba(0,0,0,.5);    
    padding: 1em;
}

.skillContainer {
    box-sizing: border-box;
    margin: .95em 0;
    
    p {
        color: $mainColor;
        padding: 0;
        font-weight: bold;
        letter-spacing: 1px;
        margin-bottom: .3em;
    }

    p:nth-child(2) {
        float: right;
        position: relative;
        @include transformY(-.25em);
    }
}

.skill {
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid $mainColor;
    height: 15px;
    width: 80%;
}

.skill__level {
    width: 7%;
    height: 6px;
    display: inline-block;
    margin: 0 1.5%;
    @include transformY(-.53em);
    &--basic {
        background: $basic;
    }
    &--intermediate {
        background: $intermediate;
    }
    &--advanced {
        background: $advanced;
    }
}