@import '../../library/config/config.scss';

article {
    background-color: $light;
    margin: 1em;
    padding: 1em;
    box-shadow: 0 3px 10px rgba(0,0,0,.5);
}
  
section {
    display: inline-block;
    text-align: left;
    max-width: 550px;
}

.mainTitle {
    color: $mainColor;
    margin-bottom: 20px;
    text-align: center;
}

.title {
    position: relative;
    margin: 1em 0;
    color: $mainColor;
    &::after {
        position: absolute;
        content: '';
        height: 5px;
        bottom: -10px;
        left: 0;
        width: 20%;
    }
    &--basic::after {
        background: $basic;
    }
    &--intermediate::after {
        background: $intermediate;
    }
    &--advanced::after {
        background: $advanced;
    }
    &--specialist::after {
        background: $specialist;
    }
    &__level {
        margin-bottom: 0;
    }
}
