@import '../../library/config/config.scss';

.metricContent {
    display: block;
    text-align: left;
    max-width: 550px;
}
.secTitle {
    position: relative;
    margin: 1em 0;
    color: $mainColor;
    font-family: 'Barlow', sans-serif;
    &::after {
        position: absolute;
        content: '';
        height: 5px;
        bottom: -10px;
        left: 0;
        width: 20%;
    }
    &--basic::after {
        background: $basic;
    }
    &--intermediate::after {
        background: $intermediate;
    }
    &--advanced::after {
        background: $advanced;
    }
    &--specialist::after {
        background: $specialist;
    }
    &__level {
        margin-bottom: 0;
    }
}
