@import '../../library/config/config.scss';

article {
    display: grid;
    grid-template-columns: [main-start] minmax(0, 56em) [main-end];
    grid-gap: 1em;
    background-color: $light;
    padding: 1em;
}
  
section {
    grid-column: main;
}

.mainTitle {
    color: $mainColor;
    margin-bottom: 20px;
}

.title {
    position: relative;
    margin: 1em 0;
    color: $mainColor;
    &::after {
        position: absolute;
        content: '';
        height: 5px;
        bottom: -10px;
        left: 0;
        width: 20%;
    }
    &--basic::after {
        background: $basic;
    }
    &--intermediate::after {
        background: $intermediate;
    }
    &--advanced::after {
        background: $advanced;
    }
    &--specialist::after {
        background: $specialist;
    }
    &__level {
        margin-bottom: 0;
    }
}
