@import "https://fonts.googleapis.com/css?family=Roboto:400,300,700|Pacifico|Julius+Sans+One";
@import '../../library/config/config.scss';

.element-container--skills {
    min-height: 100vh;
}

.main-title--skills {
    color: $mainColor;
    text-align: center;
}

.metrics__container {
    text-align: center;
}

.show-metrics__state {
    display: none;
}

.show-metrics__target {
    display: none;
    @include transition(all 0.5s ease);
}

.show-metrics__state:checked ~ .show-metrics__wrap .show-metrics__target {
    display: inline-block;
    font-size: inherit;
}

.show-metrics__trigger {
    cursor: pointer;
    padding: .5em;
    margin-bottom: 1rem;
    font-family: 'Abel', sans-serif;
    @include transition(all 0.5s ease);
}

.show-metrics__state ~ .show-metrics__trigger::before {
    content: attr(seemetric);
    font-size: 1rem;
    text-decoration: underline;
}

.show-metrics__state:checked ~ .show-metrics__trigger::before {
    content: attr(hidemetric);
    font-size: 1rem;
}

.show-metrics__state ~ .show-metrics__trigger::after {
    content: ' \25BE';
    font-size: 1.25rem;
}

.show-metrics__state:checked ~ .show-metrics__trigger::after {
    content: ' \25B4';
    font-size: 1.25rem;
}

.show-metrics__state:checked ~ .show-metrics__trigger:active:hover,
.show-metrics__state ~ .show-metrics__trigger:active:hover {
    background: $mainColor;
    color: $navItemBackgroundColor;
    @include transition(all 0.2s ease);
}

@media (min-width: 767px) {
    .show-metrics__state:checked ~ .show-metrics__trigger:hover,
    .show-metrics__state ~ .show-metrics__trigger:hover {
        background: $mainColor;
        color: $navItemBackgroundColor;
        @include transition(all 0.5s ease);
    }
}

@media (min-width: 1024px) {
    .skills__container {
        width: 1024px;
        margin: 0 auto;
    }
}

@media (min-height: 850px) and (min-width: 769px) {
    .skills__container {
        min-height: 100vh;
    }
}
