@import "https://fonts.googleapis.com/css?family=Roboto:400,300,700|Pacifico|Julius+Sans+One";
@import '../../library/config/config.scss';

.elementContainer--skills {
    background-color: $light;
    padding: 50px 0;
    font-family: "Roboto";
}

.mainTitle--skills {
    color: $mainColor;
    text-align: center;
}

.metrics__container {
    text-align: center;
}

.showMetrics__state {
    display: none;
}

.showMetrics__target {
    display: none;
    transition: .25s ease;
}
  
.showMetrics__state:checked ~ .showMetrics__wrap .showMetrics__target {
    display: inline-block;
    font-size: inherit;
}
 
.showMetrics__trigger {
    cursor: pointer;
    padding: .5em;
    margin-bottom: 1rem;
}

.showMetrics__state ~ .showMetrics__trigger::before {
    content: 'Click here to see the metric!';
    font-size: 1rem;
    text-decoration: underline;
}
  
.showMetrics__state:checked ~ .showMetrics__trigger::before {
    content: 'Hide the metric.';
    font-size: 1rem;
}

.showMetrics__state ~ .showMetrics__trigger::after {
    content: ' \25BE';
    font-size: 1.25rem;
}

.showMetrics__state:checked ~ .showMetrics__trigger::after {
    content: ' \25B4';
    font-size: 1.25rem;
}

.showMetrics__state:checked ~ .showMetrics__trigger:active:hover,
.showMetrics__state ~ .showMetrics__trigger:active:hover {
    background: $mainColor;
    color: $navItemBackgroundColor;
    @include transition(all 0.2s ease);
}

@media (min-width: 769px) {
    .showMetrics__state:checked ~ .showMetrics__trigger:hover,
    .showMetrics__state ~ .showMetrics__trigger:hover {
        background: $mainColor;
        color: $navItemBackgroundColor;
        @include transition(all 0.5s ease);
    }
}

@media (min-width: 1024px) {
    .skills__container {
        width: 1024px;
        margin: 0 auto;
    }
}

@media (min-height: 850px) and (min-width: 769px) {
    .skills__container {
        height: 100vh;
    }
}