@import '../../library/config/config.scss';

.skills-container {
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: $light;
    padding-top: 70px;
}
