@import "https://fonts.googleapis.com/css?family=Roboto:400,300,700|Pacifico|Julius+Sans+One";
@import "../../library/config/config.scss";



$height: 70px;
$navItemColor: #afafaf;
$navItemBackgroundColor: white;

.navBar {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: $navItemBackgroundColor;
    top: 0;
    height: 38px;
    z-index: 1;

    &__label {
        color: $navItemColor;
        display: block;
        line-height: 2;
        text-align: center;
        cursor: pointer;
        margin: 0;
    }
    
    &__label::after {
        content: '\25bc';
        font-size: 0.7em;
        margin-left: 0.5em;
    }

    &__list {
        background-color: $navItemBackgroundColor;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    &__list,  [id^='toggle'] {
        display: none;
    }
    
    [id^='toggle']:checked ~ &__list {
        display: inline-block;
    }

    &__item {
        cursor: pointer;
        display: block;
    }

    &__link {
        color: $navItemColor;
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        word-wrap: break-word;
        @include transition(.25s all ease);
    }
    &__list_item &__list_item &__link,
    &__item &__item {
        padding: 10px 10px 10px 30px;
    }
    
    &__link:hover,
    &__link:active:hover{
        background: $navItemColor;
        color: $navItemBackgroundColor;
    }
}

@media all and (min-width : 425px) {
    .navBar {
        text-align: center;
        &_label {
            display: none;
        }

        &_list {
            display: inline-block;
            width: auto;
            &_item {
                display: inline-block;
                position: relative;
            }
        }
        &_list_item &_list {
            position: absolute;
        }
        &_list_item &_list_item &_link,
        &_list_item &_list_item {
            padding: 10px 20px;
        }
    }
}