@import "https://fonts.googleapis.com/css?family=Roboto:400,300,700|Pacifico|Julius+Sans+One";
@import "../../library/config/config.scss";

/*
 * Vars
 */
$height: 70px;
$navItemColor: #afafaf;
$navItemBackgroundColor: rgba(156, 156, 156, 0.5);

header {
    z-index: 99;
    background: rgba(255,255,255,.95);
    height: $height;
    position: fixed;
    top: 0;
    transition: top 0.1s ease-in-out;
    width: 100%;
    -webkit-box-shadow:  0px 0px 5px rgba(204, 204, 204, 0.6);
    box-shadow: 0px 0px 5px rgba(204, 204, 204, 0.6);
    box-sizing: content-box;
    line-height: $height;
    text-transform: uppercase;
    font-family: sans-serif;
}

.navigationBar {
    position: relative;
    height: $height;
    width: 100%;
    display: flex;
    
    &__container {
        display: flex;
        flex-flow: row wrap;
        margin-left: auto;
        margin-right: auto;
    }

    &__item {
        margin-right: 1em;
        font-size: 1em;
        cursor: pointer;
        position: relative;
        text-decoration: none;
        color: $navItemColor;
        padding: 0;
        font-family: "Roboto";
        text-transform: none;
        text-align: center;
        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            top: 2.5em;
            left: 0;
            background-color: $navItemBackgroundColor;
            visibility: hidden;
            @include scaleX(0);
            @include transition(all 0.3s ease-in-out 0s);
        }
        &:hover:before{
            visibility: visible;
            @include scaleX(1);
        }

        &--first {
            margin-left: 1em;
        }
    }
}

.nav-up {
    top: -($height + 1px + 5px);
}

@media all and (min-width : 900px) {

}