$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #ff1755;
$lighter: rgba(182, 147, 132, 0.5); 
$light: #ffd0bc; 
$main: #bd9184; 
$button: #dc7c40;
$darkBrown: #412f2f;
$dark: #201718;


/*
 * Mixins
 */
@mixin scaleX ($e) {
    -webkit-transform: scaleX($e);
    -moz-transform: scaleX($e);
    transition: $e;
}

@mixin transition ($e) {
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}


/*
 * Fonts
 *
 * regular 400
 * regular 400 Italic
 * bold 700
 * bold 700 Italic
 */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: $black;
    font-weight: 400;
    font-style: normal;
    height: auto;
}

.container-fluid {
    line-height:  24px;
}


