/*
 * Mixins
 */
@mixin scaleX ($e) {
    -webkit-transform: scaleX($e);
    -moz-transform: scaleX($e);
    transition: $e;
}

@mixin transition ($e) {
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}