/*
 * Variables
 */

$mainColor: #4c4c4c;
$subColor: #fff;
$light: rgba(220, 220, 220, 0.95);
$lighter: #eaeaea;
$basic: #0084ff;
$intermediate: #9900ff;
$advanced: #ffbb00;
$specialist: #00ff95;
$navItemBackgroundColor: rgba(255,255,255,.95);

/*
 * Mixins
 */
@mixin scaleX ($e) {
    -webkit-transform: scaleX($e);
    -moz-transform: scaleX($e);
    transition: $e;
}

@mixin transformY ($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}

@mixin transformX ($e) {
  -webkit-transform: translateX($e);
  -moz-transform: translateX($e);
  transform: translateX($e);
}

@mixin transition ($e) {
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}

/* 
 * Scrollbar 
 */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
::-webkit-scrollbar-thumb:active {
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}