.container-fluid {
     /* Location of the image */
    background-image: url(../../images/anarchy.jpg);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    padding-right: 0px;
    padding-left: 0px;
}

.container-content {
    padding-top: 100vh;
}
