@import '../../library/config/config.scss';

.mainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: overlay;
}
  
.homeContainer {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    z-index: -1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
    background-image: url(../../images/anarchy.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    padding-right: 0px;
    padding-left: 0px;
}

.contentContainer {
    position: relative;
    display: block;
    background-color: white;
    z-index: 1;
}